.home-header-container {
    height: 70px;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #94d7ee;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            align-items: center;

            .header-logo {
                height: 225%;
                width: 135%;
                cursor: pointer;
                transform: scale(0.5, 0.5);
                margin-left: -33%;
                font-size: 18px;
                image-rendering: pixelated;
            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
                display: block;
            }

            @media (max-width: 1023px) {
                i {
                    display: none;
                }

                .header-logo {
                    height: 225%;
                    width: 235%;
                    margin-left: -78%;
                }
            }
        }

        .center-content {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-content {
                cursor: pointer;

                .subs-title {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        @media (max-width: 1023px) {
            .center-content {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .child-content {
                    padding-right: 5px;
                    cursor: pointer;

                    .subs-title {
                        font-size: 9px;
                        font-weight: 400;
                    }
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .support {
                padding-right: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;

                a {
                    text-decoration: none;
                }

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 1;
                color: orange;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 0.5;
                }
            }

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 1;
                color: blue;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.home-header-banner {
    background-image: url('../../assets/header-background.jpg');
    // image-rendering: pixelated;
    // height: 485px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        height: 65%;
        padding-top: 15px;

        @-webkit-keyframes my {
            0% {
                color: #007bff;
            }

            50% {
                color: #fff;
            }

            100% {
                color: #03beff;
            }
        }

        @-moz-keyframes my {
            0% {
                color: #007bff;
            }

            50% {
                color: #fff;
            }

            100% {
                color: #03beff;
            }
        }

        @-o-keyframes my {
            0% {
                color: #007bff;
            }

            50% {
                color: #fff;
            }

            100% {
                color: #03beff;
            }
        }

        @keyframes my {
            0% {
                color: #007bff;
            }

            50% {
                color: #fff;
            }

            100% {
                color: #03beff;
            }
        }

        .title1 {
            text-align: center;
            font-size: 43px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            color: white;
            margin-top: 70px;
            -webkit-animation: my 2500ms infinite;
            -moz-animation: my 2500ms infinite;
            -o-animation: my 2500ms infinite;
            animation: my 2500ms infinite;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 110px;

        }

        .search {
            width: fit-content;
            //display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 33%;
            padding-top: 5%;
            width: 100%;
        }

        @media (max-width: 1023px) {
            .title1 {
                font-size: 30px;
                margin-bottom: 3px;
                margin-top: 50px;
            }

            .title2 {
                font-size: 20px;
                margin-bottom: 90px;
            }
        }
    }

    .content-down {
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child {
                width: 130px;
                cursor: pointer;

                .icon-child {
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        color: #49bce2;
                        font-size: 20px;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .home-header-banner {
        height: 500px;

        .content-down {
            padding-bottom: 5px;

            .options {
                gap: 20px;

                .option-child {
                    width: 100px;

                    .icon-child {
                        width: 30px;
                        height: 30px;
                        padding: 5px;
                        border-radius: 50%;

                        i {
                            font-size: 15px;
                        }
                    }

                    .text-child {
                        font-size: 13px;
                        font-weight: 530;
                    }
                }
            }
        }
    }
}